<%- include('partials/header.ejs'); -%>


<div class="orderSelect">

    <div class="selectEl">
        <a href="/checkMenuOrder"><img src="https://drive.google.com/thumbnail?id=194VmzGg-n5zjQgF6AK2EFw-nK9inj30W" alt="" style="height: 300px;width: 300px;"></a>
        <h2>Menu Orders</h2>
    </div>

    <div class="selectEl">
        <a href="/checkStageOrder"><img src="https://drive.google.com/thumbnail?id=1qwi0k-PaGVGuIPD1mZ9gHA4h_npjENdS" alt="" style="height: 300px;width: 300px;"></a>
        <h2>Stage Orders</h2>
    </div>
   
</div>

<%- include('partials/footer.ejs'); -%>