<%- include('partials/header.ejs'); -%>

<div class="login">

    <h2>ADMIN LOGIN</h2>

    <form action="/login" method="post">
        <input type="email" name="email" id="id">
        <input type="password" name="password" id="password">
        <button type="submit">OK</button>
    </form>


</div>


<%- include('partials/footer.ejs'); -%>