<%- include('partials/header.ejs'); -%>


<div class="orderSelect">

    <div class="selectEl">
        <a href="/menuOrder"><img src="https://drive.google.com/thumbnail?id=194VmzGg-n5zjQgF6AK2EFw-nK9inj30W" alt="" style="height: 300px;width: 300px;"></a>
        <h2>Menu</h2>
    </div>

    <div class="selectEl">
        <a href="/stageOrder"><img src="https://drive.google.com/thumbnail?id=1qwi0k-PaGVGuIPD1mZ9gHA4h_npjENdS" alt="" style="height: 300px;width: 300px;"></a>
        <h2>Stage</h2>
    </div>
   
</div>

<%- include('partials/footer.ejs'); -%>