main{
    font-family: Epilogue;
}

.login{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-bottom: 100px;
    margin-top: 100px;
}

.login h3{
    color: red;
    margin: auto;
}

.login h2
{
    color: #1A5D1A;
    margin: 30px;

}

.login form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.login form input{
    width:300px;
    height: 40px;
    text-align: center;

}
.login form input:focus{
    outline: 0;
}

.loginBtn{
    margin-top: 30px;
    display: flex;
    gap: 15px;
    
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.navBar{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.navEl{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin: auto;
}

.navEl ul{
    display: flex;
    list-style: none;
    gap: 35px;
    margin: auto;
    margin-top: 15px;
    margin-right: 50px;
    font-size: 20px;

}

.navBtn{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap:30px;
}


.navEl a{
    text-decoration: none;
    color: black;
}
.navEl a:hover{
    text-decoration:underline;
    color: #1A5D1A;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.logo h2{
    margin:auto;
}

