main{
    font-family: Epilogue;
}

.header1{
    display: flex;
    margin-top: 30px;
    margin-left: 25px;
}

.login{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-bottom: 100px;
    margin-top: 100px;
}

.login h3{
    color: red;
    margin: auto;
}

.login h2
{
    color: #1A5D1A;
    margin: 30px;

}

.login form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.login form input{
    width:300px;
    height: 40px;
    text-align: center;

}
.login form input:focus{
    outline: 0;
}

.loginBtn{
    margin-top: 30px;
    display: flex;
    gap: 15px;
    
}

.logo h2{
    color: #1A5D1A;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.navBar{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
    transition: top 0.3s;
}

.navEl{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin: auto;
}

.navEl ul{
    display: flex;
    list-style: none;
    gap: 35px;
    margin: auto;
    margin-top: 15px;
    margin-right: 50px;
    font-size: 20px;

}

.navBtn{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:30px;
}

.aButton{
   border: none;
   background-color: white;
}

.aButton:hover{
    text-decoration:underline;
    color: #1A5D1A;
}


.navEl a{
    text-decoration: none;
    color: black;
}
.navEl a:hover{
    text-decoration:underline;
    color: #1A5D1A;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.logo h2{
    margin: 0%;
}

.staffList{
    width: 100%;
}

.staffList h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  color: #1A5D1A;
}

.staffInfo{
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.staffInfo h3{
    color: #346751;
}

.staffInfo p{
    color: #4E9F3D;
}

footer{
    color: #346751;
    font-size: 20px;
    margin:30px
}


/* profile */

.entireProf
{
    width: 100%;
    margin: auto;
}

.profHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.profHeader h3{
    color: #1A5D1A;
}

.profHeader p{
    color: #4E9F3D;
}


.profInfo{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 80px;
    width:50%;
    margin-top: 40px;
}
.profInfo h2{
    color: #1A5D1A;
    text-align:left;
}
.profInfo h4{
    color: #346751;
}

.profInfo p{
    color: #4E9F3D;
}

.contactInfo,.employmentInfo,.addressInfo{
    display: flex;
    flex-direction: column;
    gap: 30px;
 
} 

.InfoDetails{
    display: flex;
    gap: 25%;

}

.InfoDetails div{
    width:40%;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.buttons button{
    background-color: white;
    border: none;
}

.buttons button:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}

/* add page */

.addForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 50px;
}

.addForm h2{
    color: #1A5D1A;
}

.addForm input{
    width: 350px;
    height: 55px;
    border-radius: 6px;
    border: solid 0.5px #1A5D1A;
    text-align: center;
    font-size: 18px;
    color: #346751;

}

.addForm label{
    font-size: 20px;
    color: #346751;
}

.addForm input:focus{
    outline: 0;
}

.addForm button{
    background-color: white;
    border: none;
}

.addForm button:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}

.divEl{
    display: flex;
    gap: 100px;

}

.divEl div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.divEmail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.divEmail input{
    width: 800px;
}

.divEmail label{
    margin-bottom: 10px;
}

/* order Select css */

.orderSelect{
    display: flex;
    gap:100px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.selectEl{
    height: 500px;
    width: 500px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #346751;
    border-radius: 10px;
    gap: 40px;
    font-family: Montserrat;
    color: #1A5D1A;
}
